body {

    font-family:Arial, Helvetica, sans-serif
}

.header {
    padding: 80px;
    text-align: center;
    background: #e2e4ee;
    color: #0c1230;

}

.header h1 {
    font-size: 40px;

}

.navbar {
    overflow: hidden;
    background-color:#0c1230;

}

.navbar a {
    float: left;
    display: block;
    color:#dbebee;
    text-align: center;
    padding: 14px 20px;
    text-decoration:none ;

}

.navbar a.right {
    float: right;
}

navbar a.hover {
    background-color: #6f6586;
    color: rgb(239, 237, 243);
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color:#b7b7ca;
    padding: 20px; 
}

.main {
    flex: 70%;
    background-color:#e2e4ee;
    padding: 20px;

}