<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Agenda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   
  <div class="navbar">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  
  <div class="hero_img">
    <img id="hero" src= "{{ url_for('static', filename='images/hero.png') }}" />
    <div class="hero-text">
        <h1>Smart Agenda</h1>
        <p>Insert Tagline Here</p>
</div>
<br>
<br>

    <div class="btns">
       
        <a href= "{{ url_for('calendar')}}" class="btn" style="--clr:#9b4abb"><span>Calendar</span></a>
        <a href="task.html" class="btn" style="--clr:#9b4abb"><span>Task Prioritization</span></a>
        <a href="ana.html" class="btn" style="--clr:#9b4abb"><span>Analytics</span></a>
    </div>


    <br>
    <br>
    
    <div class="row">
        <div class="main">main </div>
        <div class="side"> Side </div>
    </div>
    <br>
    <div class="footer">
        <h2>Footer</h2>

    </div>
</body>